.targetTaskConfigWrapper {
    width: 700px;
    min-height: 500px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: scroll;
    padding: 15px;
}

@media(max-width:900px) {
    .targetTaskConfigWrapper {
        width: 500px;
    }
}

@media(max-width:650px) {
    .targetTaskConfigWrapper {
        width: 300px;
        font-size: 14px;
    }
}

@media(max-width:450px) {
    .targetTaskConfigWrapper {
        width: 200px;
        font-size: 12px;
    }
}

.targetTaskConfigDropzone {
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-style: dotted;
}

.targetTaskConfigTextarea {
    height: 60px;
    width: 150px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    border: 0px;
    border-radius: 10px;
}

.targetTaskConfigElement {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}